<body>
    <div id="header">
    
      <div id="logo"><img id="imgLogo" src="assets/logorond.png"/></div>
      <div id="CheckRepublist"><h1><span id="textCheckRepublist">Check Republist</span></h1></div>
    
    </div>
    
      <div id="button">
    
    <a  [routerLink]="['/inscription']" routerLinkActive="active"><input id="btnSinscrire" type="button" class="btn btn-success" value="S'inscrire"></a>  
    <a [routerLink]="['/connexion']" routerLinkActive="active"><input id="btnConnexion" type="button" class="btn btn-success" value="Se Connecter"></a> 
      </div>
     </body>
