
    body {
        background-image: url("/assets/paccueil.jpg");
      background-size: cover; /* Pour couvrir toute la surface */
      background-repeat: no-repeat;
      background-attachment: fixed;
      backdrop-filter: blur(10px);
      margin: 0; 
      height: 100vh;/* Réinitialise la marge par défaut du body */
      }
 
    
    h1 {
    text-align: center;
    padding: 20px;
    }
    
    
    form {
    max-width: 400px;
    margin: 0 auto;
    background: #a4b7a8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    label {
    font-weight: bold;
    }
    
    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    
    input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
    }