<!-- <div class="card mt-3">
    <div class="card-header bg-primary text-white display-6">Liste des materiels</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>LibelleMateriel</th>
                    <th>Categorie</th>
                    <th>Critere</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let matRef of materielsRef$ |async">
                    <td>{{matRef.id}}</td>
                    <td>{{matRef.libelleMateriel}}</td>
                    <td>{{matRef.categorie}}</td>
                    <td>{{matRef.critere?.id}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(matRef.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="remove(matRef.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i
            class="bi bi-plus-square"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="materielRefForm">
    <div class="card-header bg-primary text-white display-6">Edition d'un materielRef</div>
    <div class="card-body">
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
        </div>
        <div class="form-group">
            <label for="libelleMateriel">libellemateriel:</label> <input type="text" class="form-control" id="libelleMateriel" name="libelleMateriel" readonly formControlName="libelleMateriel"/>
            <span class="text-danger" *ngIf="materielRefForm.get('libelleMateriel')?.dirty && materielRefForm.get('libelleMateriel')?.hasError('required')">Le libelleMateriel est obligatoire</span> -->

        </div>
        <div class="form-group">
            <label for="categorie">categorie:</label>
            <select class="form-control" id="categorie" name="categorie" formControlName="categorie">
					<option *ngFor="let mode of categorie" >{{mode}}</option>
			</select>
            <input type="text" class="form-control" id="categorie" name="categorie" readonly formControlName="categorie"/>
        </div>
        <div class="form-group">
            <label for="critere">critere:</label>
             <option *ngFor="let crit of criteres$ |async" [value]="crit.id">{{crit.logement}}</option>
				 <select type = "text" class="form-control" id="critere" name="critere" formControlName="critere">
					<option *ngFor="let crit of criteres$ |async" [value]="crit.id">{{crit}}</option>
				</select>
            <input type="text" class="form-control" id="critere" name="critere" readonly formControlName="critere"/>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
             <button type="submit" class="btn btn-success"  [disabled]="materielRefForm.invalid"><i class="bi bi-check-square-fill"></i></button>
            <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
</div> -->





 <head>
    <div id="site">
      <div id="header">
    		<div id="logo"><img id="imgLogo" src="assets/logorond.png"/> </div>
        <div id="CheckRepublist">
            <div><span id="textCheckRepublist">Check Republist</span></div>div></div>
      </div>
	</div>
	</head>

<body>
	<div>
		<form (ngSubmit)="save()" novalidate autocomplete="off" [formGroup]="materielRefForm">
		<h2>Un nouveau MaterielRef?</h2>
		<div >
			<div class="form-group" >
				<label for="id">Identifiant:</label> 
                <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/> 
				 <!-- <span class="text-danger" *ngIf="voyageForm.get('dateDebutVoyage').hasError('required') ||voyageForm.get('dateDebutVoyage').hasError('pattern') ">
					La date du départ  est obligatoire et doit être saisie au format jour-mois-année (DD-MM-YYYY).
				</span> -->
			</div>
			<div class="form-group">
                    <label for="libelleMateriel">libellemateriel:</label> <input type="text" class="form-control" id="libelleMateriel" name="libelleMateriel" readonly formControlName="libelleMateriel"/>
                    <!-- <span class="text-danger" *ngIf="materielRefForm.get('libelleMateriel')?.dirty && materielRefForm.get('libelleMateriel')?.hasError('required')">Le libelleMateriel est obligatoire</span> -->
                    <div class="text-danger" *ngIf="materielRefForm.get('libelleMateriel')?.dirty && materielRefForm.get('libelleMateriel')?.hasError('required')">Le libelleMateriel est obligatoire</div>
			</div>
			<div class="form-group">
				<label for="categorie">Categorie:</label>
					<select class="form-control" id="categorie" name="categorie" formControlName="categorie">
						<option *ngFor="let mode of categorie" >{{mode}}</option>
					</select>
				<!-- <span class="text-danger" *ngIf="voyageForm.get('logement')?.hasError('required')">
					Le mode de logement est obligatoire.
				</span> -->
			</div>
			<div class="form-group">
                <label for="critere">Critere:</label>
                <!-- <input type="text" class="form-control" id="critere" name="critere" readonly formControlName="critere"/>
                <option *ngFor="let crit of criteres$ |async" [value]="crit.id">{{crit.logement}}</option> -->
				<select type = "text" class="form-control" id="critere" name="critere" formControlName="critere">
					<option *ngFor="let crit of criteres$ |async" [value]="crit.id">{{crit.logement}}</option>
				</select>
            </div>
		<div class="btn-group btn-group-lg float-right">
				<!-- <button type="submit" class="btn btn-success"  [disabled]="materielRefForm.invalid"><i class="bi bi-check-square-fill"></i></button> -->
			</div>
			<div class="btn-group btn-group-lg float-right">
                <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a>
				<a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
			</div>
