
#content
{
  display:flex;
  justify-content : center;
    align-content:center;
    height:100%;

}

#nouveau
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: auto;
  width: 70%;
  max-width: 800px; 
  min-height: 150px; 
  background-color: #fff; 
  border: 3px solid #da664b;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#lignetab
{
    text-align:center;
}

#historique
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
        margin: auto;
        float:center;
        width:70%;
        height: 150px;
        background-size : 100% 100%;
        background : rgba(255, 255, 255, 1);
        border: 3px solid #da664b;

        border-radius: 30px;
    display:flex;
    justify-content:center;
        align-items:center;
}

#center
{
    float:center;
    width:60%;
    height: 800px;
    background : #a4b7a8(110, 123, 88, 0.8);
    border-radius: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction : column;
    align-content : center;
}

body {
    /*font-family: Arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
   
  
}
h1 {
    text-align: center;
    padding: 20px;
    color: #ffffff; /* Blanc */
   
  }
    h4{
      color: #ffffff; 
    }
form {
    max-width: 800px;
    margin: 0 auto;
    background: #a4b7a8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  label , thead{
    font-weight: bold;
    color: #000000; 
  }
  input[type="text"],
  input[type="date"],
  thead {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff; /* Blanc */
  }
    
    
    input:focus 
    {
    outline: none;
    border-color: #3498db;
    box-shadow: 0px 0px 5px rgba(52, 152, 219, 0.5);
    }

 #groupe1 {
      max-width: 800px;
      margin: 0 auto;
      background: #a4b7a8;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

#center
{
    float:center;
    width:60%;
    height: 500px;
    background : #a4b7a8;
    border-radius: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction : column;
    align-content : center;
}

#nouveau
{
        margin: auto;
        float:center;
        width:70%;
        height: 150px;
        background-size : 100% 100%;
        background : rgba(255, 255, 255, 1);
        border: 3px solid #da664b;
        border-radius: 30px;
    display:flex;
    justify-content:center;
        align-items:center;
}

li
{
    list-style: none;
}


#recap {
	margin: auto;
	width: 80%; /* Vous pouvez ajuster la largeur selon vos besoins */
	max-width: 1500px; /* Définissez une largeur maximale pour éviter un tableau trop large */
	padding: 20px;
	background-color:#a4b7a8;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  /* Stylez votre tableau pour une meilleure lisibilité */
  table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
 
  }
  
  th, td {
	padding: 10px;
	text-align: center;

  }

  
//   thead {
// 	background-color: #a4b7a8; /* Couleur de fond de l'en-tête */
// 	color: #fff; /* Couleur du texte de l'en-tête */
// 	font-weight: bold;
//   }
  

.form-check-input:checked {
  background-color: #fd6710;
  border-color: #e9810a;
}

.btn-success{
  background-color: hsl(133, 13%, 47%);
  border-color: hsl(133, 13%, 47%);
 
}
.btn-success:hover{
   background-color: #fd6710;
  border-color: #fd6710;
}
.btn-success:disabled{
  background-color: hsl(133, 13%, 47%);
  border-color: hsl(133, 13%, 47%);
 
}

.category {
  margin-top: 10px;
}