<head>

    <div id="site">
      <div id="header">
    		<div id="logo"><img id="imgLogo" src="/assets/logorond.png"/> </div>
        <div id="CheckRepublist">
            <h1><span id="textCheckRepublist">Check Republist</span></h1></div>
      </div>
	</div>
	</head>

<body>
<div id="content" *ngIf="!showForm">
			<div id="block1"></div>
			<div id="center">
		<div  id="nouveau">
				<table class="tabStart">
		  <tr id="lignetab">
			  <td><h2>Un nouveau Voyage?</h2></td>
		  </tr>
				<tr id="lignetab">
					<td><input id="btnStart"  value="Commencer" type="button" (click)="show()"></td>
				</tr>
				</table>
				</div>
				<div id="historique">
					<table>
						<tr id="lignetab">
					  <td><h2>Voir vos anciens voyages</h2></td>
				  </tr>
						<tr id="lignetab">
							<td><input id="btnOld"  value="Historique" type="button"></td>
						</tr>
					</table>
		</div>
	</div>
</div>
	


<div class="form-container"  *ngIf="showForm">
		<form  (ngSubmit)="save()" novalidate autocomplete="off" [formGroup]="voyageForm">
		<h1>Un nouveau Voyage?</h1>
		<div >
			<div class="form-group" >
				<!-- <div for="durée">Durée du voyage: </div>  -->
				<label for="dateDebutVoyage">Départ</label> <input type="date"  class="form-control" id="dateDebutVoyage" name="dateDebutVoyage"  formControlName="dateDebutVoyage"/>
				<span class="text-danger" *ngIf="voyageForm.get('dateDebutVoyage').hasError('required')">
					La date du départ  est obligatoire.
				</span>
			</div>
			<div class="form-group">
				<label for="dateFinVoyage">Retour:</label> <input type="date" class="form-control" id="dateFinVoyage" name="dateFinVoyage" formControlName="dateFinVoyage"/>
				<span class="text-danger" *ngIf="voyageForm.get('dateFinVoyage').hasError('required')">
					La date du retour est obligatoire.
				</span>
			</div>
			<div class="form-group">
				<label for="libelle">Libelle:</label> <input type="text"  class="form-control" id="libelle" name="libelle" formControlName="libelle"/>
				<span class="text-danger" *ngIf="voyageForm.get('libelle').hasError('required') || voyageForm.get('libelle').hasError('maxLength') ">
					Le libelle est obligatoire et de 25 caractères
				</span>
			</div>
			<div class="form-group">
				<label for="pays">Destination:</label> <input type="text" class="form-control" id="pays" name="pays"  formControlName="pays"/>
				<span class="text-danger" *ngIf="voyageForm.get('pays')?.hasError('required') || voyageForm.get('pays')?.hasError('maxLength') ">
					La destination est obligatoire et de 25 caractères.
				</span>
			</div>
			<div class="form-group">
				<label for="logement">Mode de logement:</label>  
					<select class="form-control" id="logement" name="logement" formControlName="logement">
						<option *ngFor="let mode of modesLogement" >{{mode}}</option>
					</select>
				<span class="text-danger" *ngIf="voyageForm.get('logement')?.hasError('required')">
					Le mode de logement est obligatoire.
				</span>
			</div>
			
			</div>
			<div class="form-group">
                <label for="deplacement">Mode de déplacement:</label>
				<select class="form-control" id="deplacement" name="deplacement" formControlName="deplacement">
					<option *ngFor="let mode of modesDeplacement" >{{mode}}</option>
				</select>
                <div *ngIf="voyageForm.get('deplacement').hasError('required')" class="text-danger">
                    Le mode de déplacement est obligatoire.
                </div>
            </div>
			<div class="form-group">
				<label for="climat">Climat: </label> 
				<select class="form-control" id="climat" name="climat" formControlName="climat">
					<option *ngFor="let mode of modesClimat" >{{mode}}</option>
				</select>
				<span class="text-danger" *ngIf="voyageForm.get('climat')?.hasError('required')">
					Le  climat est obligatoire.
				</span>
			</div>
		 <div class="btn-group btn-group-lg float-right">
			<button type="submit" class="btn btn-success" [disabled]="voyageForm.invalid">
			  <i class="bi bi-check-square-fill"></i>
			</button>
		  </div>
		  
		 <div class="btn-group btn-group-lg float-right">
			<a class="btn btn-success" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
		  </div>
</form>
		</div>	
	</body>	
		
	
	




