<body>
<div class="mt-3">
    <form >
    <h2>Liste des critéres</h2>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>MaterielRef</th>
                    <th>TypeLogement</th>
                    <th>TypeDeplacement</th>
                    <th>TypeClimat</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let crit of list()">
                    <td>{{crit.id}}</td>
                    <td>{{crit.materielRef}}</td>
                    <td>{{crit.logement}}</td>
                    <td>{{crit.deplacement}}</td>
                    <td>{{crit.climat}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" (click)="edit(crit.id)"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-danger" (click)="remove(crit.id)"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-success btn-lg" (click)="add()"><i
            class="bi bi-plus-square"></i></a>
    </div>
</form>
</div>

<div class="mt-3" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="critereForm">
    <div>Edition d'un critere</div>
        <div class="form-group">
            <label for="id">Identifiant:</label> <input type="number" class="form-control" id="id" name="id" readonly formControlName="id"/>
        </div>
        <div class="form-group">
            <label for="materielRef">materielRef:</label> <input type="text" class="form-control" id="materielRef" name="materielRef" formControlName="materielRef"/>
            <span class="text-danger" *ngIf="critereForm.get('materielRef')?.dirty && critereForm.get('materielRef')?.hasError('required')">Le materielRef est obligatoire</span>

        </div>
        <div class="form-group">
            <label for="logement">logement:</label>
             <!-- <input type="text" class="form-control" id="logement" name="logement" readonly formControlName="logement"/> -->
             <select class="form-control" id="logement" name="logement" formControlName="logement">
                <option *ngFor="let mode of modesLogement" >{{mode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="deplacement">deplacement:</label> 
            <!-- <input type="text" class="form-control" id="deplacement" name="deplacement" readonly formControlName="deplacement"/> -->
            <select class="form-control" id="deplacement" name="deplacement" formControlName="deplacement">
                <option *ngFor="let mode of modesDeplacement" >{{mode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="climat">climat:</label> 
            <!-- <input type="text" class="form-control" id="climat" name="climat" readonly formControlName="climat"/> -->
            <select class="form-control" id="climat" name="climat" formControlName="climat">
                <option *ngFor="let mode of modesClimat" >{{mode}}</option>
            </select>
        </div>
        <!-- <div class="form-group mt-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="disabled" name="disabled"  formControlName="critere">
                <label class="form-check-label" for="disabled">
                    Disabled
                </label>
              </div>
        </div> -->
    <div class="card-footer">
        <div class="btn-group btn-group-lg float-right">
            <!-- <a class="btn btn-success" (click)="save()"><i class="bi bi-check-square-fill"></i></a> -->
            <button type="submit" class="btn btn-success"  [disabled]="critereForm.invalid"><i class="bi bi-check-square-fill"></i></button>
            <a class="btn btn-warning" (click)="cancel()"><i class="bi bi-backspace-fill"></i></a>
        </div>
    </div>
 </form>
</div>
</body>


