


h1 {
    text-align: center;
    padding: 20px;
    color: #ffffff;
}


form {
  max-width: 800px;
  margin: 0 auto;
  background: #a4b7a8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Form Field Styles */
label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Button Styles */
.button {
    text-align: center;
    margin-top: 20px;
}

.button input {
    margin: 5px;
}



/* Checkbox Label Style */
.Type label {
    margin-right: 15px;
}
.btn-success{
    background-color: hsl(133, 13%, 47%);
    border-color: hsl(133, 13%, 47%);
   
  }
  .btn-success:hover{
     background-color: #fd6710;
    border-color: #fd6710;
  }
  .btn-success:disabled{
    background-color: hsl(133, 13%, 47%);
    border-color: hsl(133, 13%, 47%);
   
  }